<mat-card class= "row animate__animated animate__backInDown">
    <div class="animate__animated animate__backInDown col cont">
        <img  mat-card-img src="http://192.168.1.12:8000{{img}}">
    </div>
    <div class="col">
        <mat-card-title>Editar Artículo:</mat-card-title>
        <mat-card-content class="col">

            <form enctype="multipart/form-data" [formGroup]="form">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre Artículo</mat-label>
                    <input required matInput formControlName="titulo">
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Marca</mat-label>
                    <input required matInput formControlName="marca">   
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <input required matInput formControlName="descripcion">   
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <input required type="number" max="10" min="1" matInput formControlName="estado">   
                </mat-form-field>
    
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Imagen</mat-label>
                    <input required matInput formControlName="imagen">   
                </mat-form-field> -->
                
                

                <mat-form-field appearance="outline">
                    <mat-label>Categoría</mat-label>
                    <mat-select formControlName="idcategoria">
                         <mat-option *ngFor="let cat of categories" [value]="cat.idcategoria">  
                            {{cat.nombrecategoria}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Estado Entrega</mat-label>
                    <mat-select formControlName="identrega">
                         <mat-option *ngFor="let est of estados" [value]="est.identrega">  
                            {{est.nombreentrega}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </form>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="submit()" mat-raised-button class="btn-hover color-5">Editar</button>
            <button (click)="cancel()" mat-raised-button class="btn-hover color-11">Cancelar</button>
        </mat-card-actions>
    </div>
    
    
</mat-card>