<mat-card class= "row animate__animated animate__backInDown">
    <div class="animate__animated animate__backInDown" *ngIf="form.value.imagen" class="col">
        <img  mat-card-img [src]="form.value.imagen">
    </div>
    <div class="col">
        <mat-card-title>Agregar Artículo:</mat-card-title>
        <mat-card-content class="col">

            <form enctype="multipart/form-data" [formGroup]="form">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre Artículo</mat-label>
                    <input required matInput formControlName="titulo">
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Marca</mat-label>
                    <input required matInput formControlName="marca">   
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <input required matInput formControlName="descripcion">   
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <input required type="number" max="10" min="1" matInput formControlName="estado">   
                </mat-form-field>
    
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Imagen</mat-label>
                    <input required matInput formControlName="imagen">   
                </mat-form-field> -->
                <input formControlName="imagen" type="file" id="imagen" (change)="onChange($event)" />
                

                <mat-form-field appearance="outline">
                    <mat-label>Categoría</mat-label>
                    <mat-select>
                         <mat-option *ngFor="let cat of categories" [value]="cat.idcategoria">  
                            {{cat.nombrecategoria}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="submit()" mat-raised-button class="btn-hover color-5">Agregar</button>
            <button (click)="cancel()" mat-raised-button class="btn-hover color-11">Cancelar</button>
        </mat-card-actions>
    </div>
    
    
</mat-card>