.card-container{
    display: flex;

    /*genera una fila cuando no hay espacio*/
    flex-wrap: wrap;
    align-items: center;
}

.card-content{
    width: 300px;
    box-sizing: border-box;
    margin: 16px;
    cursor: pointer;
}

img{
    width: 150px;
    height: 150px;
}
.mat-success {
    background-color: green;
    color: #fff;
}

.tab-container{
    margin: 50px !important;
}

table{
    border-radius: 15px !important;
}

.tab{
    width: 50px !important;
}