<mat-toolbar>

    <span><img class="logo" src="../../../../assets/logo.png" alt="Logo"> <h6>Chunches</h6></span>
    <button [routerLink]="['/products', 'all']" mat-button>Inicio
        <mat-icon>store</mat-icon>
    </button>
    <span class="toolbar-space"></span>

    <!-- <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button> -->
  
    <button mat-button>
        {{user}}
        <mat-icon>account_circle</mat-icon>
    </button>
    
    <div class="big">
        <button mat-button [routerLink]="['/products', 'list', id]">
            Mis Artículos
            <mat-icon>collections_bookmark</mat-icon>
        </button>
    
        <button mat-button [routerLink]="['/products', 'add']">
            Agregar Artículo
            <mat-icon>library_add</mat-icon>
        </button>
    
        <button mat-button (click)="logout()">
                Cerrar Sesión
                <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>

    <div class="small" fxFlex fxLayout="row">
        <a class="valign-center" mat-icon-button [matMenuTriggerFor]="menu" aria-label="additional links">
            <mat-icon>menu</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
            <button mat-button [routerLink]="['/products', 'list', id]">
                Mis Artículos
                <mat-icon>dashboard</mat-icon>
            </button>
        
            <button mat-button [routerLink]="['/products', 'add']">
                Agregar Artículo
                <mat-icon>library_add</mat-icon>
            </button>
        
            <button mat-button (click)="logout()">
                    Cerrar Sesión
                    <mat-icon>input</mat-icon>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
