.toolbar-space{
    flex: 1 1 auto;
}

mat-toolbar{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    /*box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);*/
    color: white;
    padding: 40px;
    transition: ease-in-out 1s;
    box-shadow: rgba(136, 172, 243, 0.25) 0px 10px 30px, rgba(0, 0, 0, 0.03) 0px 1px 1px,
    rgba(47, 62, 96, 0.01) 0px 10px 20px, rgba(76, 102, 148, 0.13) 0px 1px 3px;
    
}

.light{
    padding: 0;
    transition: ease-in-out 1s;
}

.mat-menu-content > button{
    color: white !important;
}

.mat-menu-content{
    background: #25aae1 !important;
}

@media (max-width: 800px) {
    .big {
      display: none !important;
    }
}
@media (min-width: 800px) {
    .small {
      display: none !important;
    }
}


