
<div class="card-container row">
    
        <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-card style="text-align: center;" class="card-content animate__animated  animate__flipInX">
                <mat-card-header>
                    <mat-card-title>{{products.titulo}}</mat-card-title>
                    <mat-card-subtitle style="color: white;">{{products.marca}}</mat-card-subtitle>
                    
                </mat-card-header>
                <img mat-card-img *ngIf="products.imagen" src="{{products.imagen}}">
                <div class="body">
                    <mat-card-content>
                        <p><b>Descripción:</b></p>
                        <p>{{products.descripcion}}</p>
        
                        <div class="row">
                            <div class="col">
                                <p><b>Estado:</b></p>
                                <p>{{products.estado}}/10</p>
        
                            </div>
                            <div class="col">
                                <p><b>Categoría:</b></p>
                                <p *ngIf="products.idcategoria == 1">Electrónica</p>
                                <p *ngIf="products.idcategoria == 2">Ropa Infantil</p>
                                <p *ngIf="products.idcategoria == 3">Ropa Mujeres</p>
                                <p *ngIf="products.idcategoria == 4">Vehículos</p>
                                <p *ngIf="products.idcategoria == 5">Hogar</p>
                                <p *ngIf="products.idcategoria == 6">Ropa Hombres</p>
                                <p *ngIf="products.idcategoria == 7">Muebles</p>
                            </div>
    
                        </div>
                    </mat-card-content>
            
                </div>
            </mat-card>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
            <mat-card class="donante" *ngIf="userid != products.iduser">
                <mat-card-header class="donante-header">
                    <mat-card-title >Contacta al Donante</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-lg-10 col-sm-12">
                            <form [formGroup]="form">
                                <mat-card class="card-content-search">
                                    <input #comentario class="mensaje animate__animated animate__rollIn " matInput required placeholder="Escribe..." formControlName="comentario">
                                </mat-card>
                            </form>
                        </div>
                        <div class="col-lg-2 col-sm-12 send">
                            <button (click)="submit()" class="but" mat-raised-button><mat-icon>send</mat-icon></button>
                        </div>
                    </div>

                </mat-card-content>
            
            </mat-card>

            <mat-card class="donante" *ngIf="userid == products.iduser && coments.length == 0">
                <mat-card-header class="donante-header">
                    <mat-card-title>Aún no hay mensajes</mat-card-title>
                </mat-card-header>
            </mat-card> 

            <div *ngFor="let coment of coments.reverse()">
                <mat-card class="donante" *ngIf="userid == products.iduser">
                    <mat-card-title class="header-comentario">Por {{coment.iduser}}</mat-card-title>
                    <mat-card-content>
                        <p>{{coment.comentario}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    
</div>