
<div class="card-container">
    <mat-card class="card-content-search animate__animated animate__flipInX ">
        <input placeholder="Buscar..." class="search animate__animated animate__rollIn " matInput [(ngModel)]="searchText"><mat-icon>search</mat-icon>
    </mat-card>
</div>
<div class="card-container">
    <div *ngFor="let product of products.reverse()| appFilter:searchText">
        <mat-card *ngIf="product.identrega == 1" style="text-align: center;" class="card-content animate__animated  animate__flipInX">
            <mat-card-header>
                <mat-card-title>{{product.titulo}}</mat-card-title>
                <mat-card-subtitle style="color: white;">{{product.marca}}</mat-card-subtitle>
                
            </mat-card-header>
            <img mat-card-img *ngIf="product.imagen" src="http://192.168.1.12:8000{{product.imagen}}">
            <div class="body">
                <mat-card-content>
                    <p><b>Descripción:</b></p>
                    <p>{{product.descripcion}}</p>
    
                    <div class="row">
                        <div class="col">
                            <p><b>Estado:</b></p>
                            <p>{{product.estado}}/10</p>
    
                        </div>
                        <div class="col">
                            <p><b>Categoría:</b></p>
                            <p *ngIf="product.idcategoria == 1">Electrónica</p>
                            <p *ngIf="product.idcategoria == 2">Ropa Infantil</p>
                            <p *ngIf="product.idcategoria == 3">Ropa Mujeres</p>
                            <p *ngIf="product.idcategoria == 4">Vehículos</p>
                        </div>

                    </div>
                </mat-card-content>
        
                <mat-card-actions>
                    <button mat-raised-button class="all btn-hover color-9" [routerLink]="['/products', 'detail', product.idproducto]">Me interesa</button>
                </mat-card-actions>
            </div>
        </mat-card>

    </div>
</div>