

<mat-card>
    <mat-card-title>¡Regístrate! </mat-card-title>
    
    <mat-card-content>
        <form [formGroup]="birth">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input required matInput [matDatepicker]="picker" formControlName="birthDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </p>
        </form>
        <form [formGroup]="form">
            <mat-card class="mat-card-warning" *ngIf="calcularEdad()<18">
                <mat-label>Solo personas de 18 o mayores pueden registrarse.</mat-label>
            </mat-card>

            <div *ngIf="calcularEdad()>=18" class="animate__animated animate__backInDown">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Escribe tu Usuario</mat-label>
                        <input required matInput formControlName="username">
                        
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Escribe tu Contraseña</mat-label>
                        <input required type="password" matInput formControlName="password">
                        
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Escribe tu Nombre</mat-label>
                        <input required matInput formControlName="first_name">
                        
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Escribe tu Apellido</mat-label>
                        <input required matInput formControlName="last_name">
                        
                    </mat-form-field>
                </p>
                
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Escribe tu Email</mat-label>
                        <input required type="email"  matInput formControlName="email">
                        
                    </mat-form-field>
                </p>
            </div>
            

            
        </form>
    </mat-card-content>

    <mat-card-actions *ngIf="calcularEdad()>18">
        <button class="btn-hover color-1" (click)="submit()"> 
            Regístrame
        </button>
    </mat-card-actions>
</mat-card>